body, html {
    margin: 0;
    padding: 0;
    background-color: #333;
    color: white;
    font-family: 'Arial', sans-serif;
}

.top-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0; /* 10px padding to the top */
    border-bottom: 1px solid #555; /* Re-add the white line */
}

#changeMode {
    padding: 10px 20px;
    margin: 0 30px;
    cursor: pointer;
    background: #444; /* Assuming you want the button to have this background */
    border: none; /* Remove border if present */
    color: white; /* Text color */
    border-radius: 5px; /* Rounded corners */
}

#modeDisplay, #bpmDisplay {
    padding: 10px 20px;
    margin: 0 30px;
    background: none;
    border: none; /* Remove border if present */
}

#tip {
    text-align: center;
    font-size: 0.8em;
    color: #aaa;
    padding: 20px 0; /* Added padding for space between line and tip */
}

.main-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.number {
    font-size: 5em;
    margin: 0 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: #222;
}
