body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #333;
    color: white;
    font-family: 'Arial', sans-serif;
}

header, footer {
    text-align: center;
    padding: 20px;
}

header {
    border-bottom: 1px solid #555;
}

.main-display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.number {
    font-size: 5em;
    margin: 0 20px;
}

#changeMode {
    padding: 10px;
    margin-right: 20px;
}

#mode, #bpmDisplay {
    padding: 10px;
    margin-right: 10px;
    background: #444;
    border-radius: 5px;
}

#tip {
    font-size: 0.8em;
    color: #aaa;
}
